* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #f8f5f2;
}

a {
    color: #f8f5f2;
    text-decoration: none;
}

section:hover, a:hover {
    cursor: pointer;
}

nav ul {
    padding: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li:first-child {
    flex-basis: 20%;
    margin: 0 1rem;
}

nav a:hover {
    color: #f45d48;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
}

header {
    height: 70vh;
    background-color: rgba(0,0,0, 0.4);
}

.hidden {
    display: none;
}

#background-video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

h1 {
    font-family: 'League Script', cursive;
    font-size: 5rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin: 10% 0 0 0;
    padding: 0.5rem;
}

h2 {
    color: #f8f5f2;
}

.fortune {
    background-color: #232323;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.fortune a {
    font-size: 2rem;
    background-color: #078080;
    padding: .5rem 2rem;
    border-radius: 6px;
}

.fortune a:hover, .bFortune:hover {
    background-color: #f45d48;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.birth {
    height: 70vh;
    background-color: #feefe8;
    color: #222525;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    height: 2rem;
    width: 30%;
    font-weight: 300;
    border: none;
    border-radius: 6px;
}

label {
    font-size: 2rem;
}

.bFortune, .compliments h4 {
    background-color: #078080;
    padding: 1rem;
    border-radius: 6px;
}

.compliments {
    background-color: #232323;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.compliments h4 {
    background-color: #078080;
    padding: 1rem;
    border-radius: 6px;
}

.compliments h4:hover {
    cursor: pointer;
    background-color: #f45d48;
}

p {
    font-size: 2rem;
}

@media all and (max-width: 700px) {
    nav, h2, p, .fortune, .birth {
        padding: 0 2rem;
    }
    
    h1 {
        font-size: 4rem;
    }

    nav ul {
        font-size: 1rem;
    }

    input {
        width: 40vw;
    }
}
